<nav>
    <a [routerLink]="['/user']">User</a>
    <a *ngIf="!hasRouteActive('popup:compose')" [routerLink]="[{ outlets: { popup: ['compose'] } }]">Transmitter</a>
    <a *ngIf="hasRouteActive('popup:compose')" [routerLink]="[{ outlets: { popup: null } }]">Transmitter</a>
    <a [routerLink]="['/login']">Login</a>
</nav>
<div class="row">
    <div class="column">
        <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>
    <div class="column">
        <router-outlet name="popup"></router-outlet>
    </div>
</div>